* {
  outline: 1px dotted black;
}

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: mediumseagreen;
  display: grid;
  grid-template-columns: 10% 50% 10% 10% 10% 10%;
  grid-template-rows: 100%;
}

.navBar a {
  display: grid;
  margin: 0px;
  background-color: palevioletred;
  outline: 1px black solid;
  justify-content: center;
  align-items: center;
}

.logo {
  background-color: palevioletred;
  grid-column-start: 1;
}

.content {
  display: grid;
  background-color: white;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100%;
  /*   grid-template: 50% 50% / 50% 50%;
 */
}

.sidebar {
  grid-column-start: 1;
}

.button {
  background-color: darkorange;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: solid black 1px;
}

.gallery {
  background-color: purple;
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
  grid-template-rows: 10% 35% 10% 35% 10%;
}

.bigBox1 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: palevioletred;
}
.bigBox2 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: palevioletred;
}

.bigBox3 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: palevioletred;
}

.bigBox4 {
  grid-area: 4 / 4 / 5 / 5;
  background-color: palevioletred;
}
