/* * {
  outline: 1px dotted black;
} */

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: aquamarine;
}

#navbar a {
  background-color: palevioletred;
  margin: 0%;
  padding: 33px;
  outline: solid 1px black;
}

.logo {
  margin-right: auto;
  /*   padding: 10px; */
  background-color: palevioletred;
}

.main {
  display: flex;
}

.sidebar {
  background-color: khaki;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  width: 200px;
}
.gallery {
  background-color: darkslateblue;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portrait {
  margin: 5%;
  width: 200px;
  height: 300px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: khaki;
  padding: 20px;
  display: flex;
  justify-content: center;
  outline: solid 1px black;
}
